:root{
	--text-hover: #0b5eac;
	--txt_a:#003d75;
}

/* *************************************************************************************************************************************** */
                                                                    /* ancoras */
/* *************************************************************************************************************************************** */
a{
	color:var(--txt_a);
	text-decoration: none;
}

a:hover {
	color: var(--text-hover);
}

/* *************************************************************************************************************************************** */
                                                                    /* header */
/* *************************************************************************************************************************************** */

.nav-redes-sociais {
	align-items: center;
}
.sub-header{
	height: 125px;
}
/* *************************************************************************************************************************************** */
                                                                    /* footer */
/* *************************************************************************************************************************************** */


footer {
	display: block;
	overflow: hidden;
	padding: 0px;
	margin-top: 50px;
}

footer ul {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none
}

footer ul .rodapeMenuSefaz, 
footer ul .rodapeMenuLinks, 
footer ul .rodapeMenuSecretarias {
	display: block;
	overflow: hidden;
	width: 276px;
	float: left
}

.footer-widget-title, 
footer ul li strong {
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
	color: var(--txt_a);
	font-size: 14px;
	font-family: 'Titillium Web', sans-serif
}

.footer-widget-title {
	font-weight: 700;
	text-transform: uppercase
}

footer .textwidget {
	display: block;
	overflow: hidden;
	margin-bottom: 5px;
	color: var(--cinza);
	font-size: 14px;
	font-family: 'Titillium Web', sans-serif
}

footer ul li a {
	display: block;
	overflow: hidden;
	margin-bottom: 5px;
	color: var(--cinza);
	font-size: 14px;
	font-family: 'Titillium Web', sans-serif;
	text-decoration: none
}

footer ul li a:hover {
	color: var(--txt_a)
}

footer .rodapeBg {
	display: block;
	overflow: hidden;
	height: 60px;
	width: 100%;
	margin-top: 75px;
	background: var(--cor-barra-topo)
}

footer .rodapeBg img {
	display: block;
	overflow: hidden;
	margin-top: 12px
}
.barra-rodape{
    background-color: #004f9f;
    color: #ffffff;
}

.footer_custon_logo img{
	width: 100%;
	height: 100px;
}

.footer-conteudo{
	height: 150px;
}
.barra-rodape p{
	margin-bottom: 0px;
}

/* *************************************************************************************************************************************** */
                                                                    /* contrast */
/* *************************************************************************************************************************************** */

.contrast{
	z-index: 99999;
}

[data-bs-theme=dark] .element .menu-principal {
	color: #fff !important;
	background-color:#212529 !important;
	
}

[data-bs-theme=dark] body {
	color: #fff !important;
	background-color:#212529 !important;
	
}

[data-bs-theme=dark] .footer-gov {
	color: #fff !important;
	background-color:#212529 !important;
	
}
[data-bs-theme=dark] .barra-governo  {
	color: #fff !important;
	background-color:#212529 !important;
	
}
[data-bs-theme=dark] a  {
	color: #fff !important;
	background-color:#212529 !important;
	
}

[data-bs-theme=dark] .menu-principal {
	color: #fff !important;
	background-color:#212529 !important;
	
}

[data-bs-theme=dark].footer-gov-widger{
	color: #fff !important;
	background-color:#014f9f
}

@media (prefers-color-scheme: dark) {

	.element {
		color: #fff;
		background-color:#212529;
	}
}

.theme-icon, .theme-icon-active{
	width: 28px;
	border : 1px solid #016ad3;
	height: 28px;
	border-radius: 30%;
	padding: 2px;
	margin-right: 0.5rem;
}

.btn-link{
	height:44px ;
}

.theme-icon-active{
	background-color: #fff;
}

.theme-icon{
	background-color: #ffffff;
}

/* *************************************************************************************************************************************** */
                                                              /* MaisVisto */
/* *************************************************************************************************************************************** */
.mais_acessados{
	margin-bottom: 80px;
}

.mais-vistos{
	margin-top: 2em;
	padding: 0;
}
#tituloMaisVisto{
	font-family: Roboto;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: left;
}

#subTituloMaisVisto{
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
}
.mais-visto-thumbnail img{
	margin: 15px 0;
	height: 60px;
	width: auto;
}
.mais-vistos-card{
	height: 100%;
    display: grid;
    padding: 0px 15px 10px;
    border-radius: 8px;
    border: 1px solid #D4D7D8;
}

.mais-vistos-card:hover{
	background: #F7FAFC;
}
.maist-vistos-card-title{
	width: 84px;
	height: 25px;
	top: 84px;
	left: 16px;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
}

.maist-vistos-card-title a{
	color: #080B0C;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.mais-vistos-card-title{
	height: 29px;
}

.mais-vistos-card-content{
	color: #080B0C;
    font-size: 12px;
    font-weight: 400;
}

.mais-vistos-acesso{
	align-self: self-end;
}

.mais-vistos-acesso p{
	margin: 0;
    text-align: end;
    color: #004F9F;
}

.mais-visto-thumbnail{
	height: 90px;
}

/* *************************************************************************************************************************************** */
                                                              /* sist ordenado */
/* *************************************************************************************************************************************** */
.sistema-ordenado{
	margin-bottom: 80px;
}

.text-sistem-ordenado h2{
	font-size: 24px;
    font-weight: bold;
    color: #080B0C;
}

.text-sistem-ordenado p{
	color: #6E757A;
    font-weight: 400;
    font-size: 16px;
}

.alf-ordenado ul{
	display: grid;
    grid-auto-flow: column;
    padding: 0;
    border: 1px solid #D4D7D8;
    border-radius: 2px;
}

.alf-ordenado ul li{
	list-style-type: none;
	text-align: center;
	display: grid;
	height: 40px;
	align-content: center;
    width: 100%;
    color: #004F9F;
    font-weight: 800;
    font-size: 20px;
    border-left: 1px solid #D4D7D8;
}

.alf-ordenado ul li a{
	display: block;
}

.alf-ordenado ul li:hover{
    background: #E6EDF5; 
}

.item-ordenado h2{
	font-size: 18px;
	font-weight: bold;
	color: #004F9F;
}

.item-ordenado p{
	font-size: 12px;
	font-weight: 400;
	color: #080B0C;
}

.item-ordenado{
	padding: 0 30px 0 12px;
}
/* *************************************************************************************************************************************** */
                                                              /* categorias */
/* *************************************************************************************************************************************** */
.categorias{
	margin-bottom: 80px;
}

.text-categorias h2{
	font-size: 24px;
    font-weight: bold;
    color: #080B0C;
}

.text-categorias p{
	color: #6E757A;
    font-weight: 400;
    font-size: 16px;
}

.categoria-item{
	width: 100%;
    padding: 23px 16px;
	height: 100%;
	display: grid;
	grid-template-columns: 25% 75%;
	background: white;
	align-content: center;
    align-items: center;
    border: none;
	margin: 0;
    border-radius: 3px;
    border-bottom: 2px solid #004F9F;
}

.categoria-item:hover{
    background: #E6EDF5;
}

.categoria-item img{
    padding: 0;
    width: 40px;
}

.categoria-item p{
    margin: 0;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #004F9F;
    flex: auto;
}

.categoria_grid{
	gap: 15px;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.active-alfa{
	background: #004F9F !important;
}
.active-alfa a{
	color: white;
}

/* *************************************************************************************************************************************** */
                                                              /* search */
/* *************************************************************************************************************************************** */

.search_content label{
    width: 100%;
}

.search_content .search-field{
	margin: 50px 0 10px;
	width: 100%;
	padding: 8px 16px;
	border: 1px solid #D4D7D8 !important;
	border-radius: 3px;
}

.search_content .search-submit{
	display: none;
}


/* *************************************************************************************************************************************** */
                                                              /* cabecariio post */
/* *************************************************************************************************************************************** */

.cabecario-post{
	background-color: #DDDDDD;
	color: #004F9F;;
	margin-bottom: 32px;
}
.cabecario-post a{
	color: #004F9F;;
}
.botao-voltar{
	background-color: #DDDDDD;
	border: #014f9f solid 3px;
	border-radius: 20px;
	color: #004F9F;
	margin-top: 80px;
	padding: 3px 25px;
	font-weight: 600;
}

.menu-flutuante-post{
	
	padding: 0px;
}
.vertical-menu{
	position: sticky;
	top: 42%;
	background-color: #dddddd;
	width: 90%;
	display: inline-block;
	border-radius: 8px;
}
.vertical-menu ul{
	border: 1px solid #D4D7D8;
	padding: 0;
	margin: 0;
	border-radius: 8px;
}

.vertical-menu li{	
	border-bottom: 1px solid #D4D7D8;
	background: #F4F4F5;
	list-style: none;
    padding: 12px;
}

.vertical-menu li:hover{
    background: #004F9F;
	color: white;
}

#item-menu-inicio{
    border-radius: 8px 8px 0 0;
}

#item-menu-fim{
	border-radius: 0 0 8px 8px;
	border: none;
}

.menu-flutuante-post-selecionado{
	background-color: #004F9F !important;
	color: #ffffff;
}

/* *************************************************************************************************************************************** */
                                                              /* @medias */
/* *************************************************************************************************************************************** */

@media (max-width: 1200px){
    .mais-vistos-card-content{
		height: 100px;
	}
    .mais-visto-thumbnail img{
		height: 50px;
	}
	.mais-visto-thumbnail{
		height: 75px;
	}
	.alf-ordenado ul li{
		height: 35px;
	}
}

@media (max-width: 992px){
    .mais-vistos-card-content{
		height: 120px;
	}
	.item-ordenado{
		width: 50%;
	}
	.categoria_grid{
		grid-template-columns: repeat(2, auto);
	}
	.alf-ordenado ul li{
		height: 30px;
	}
}

@media (max-width: 834px){
	.mais-vistos-card-content{
		height: 70px;
	}
	#mais-vistos .row .col-3{
		width: 50% !important;
		padding: 12px;
	}
	.search .col-6{
		width: 75%;
	}
	.alf-ordenado ul{
		border-radius: 0;
		grid-auto-flow: initial;
		grid-template-columns: repeat(7, auto);
		border: none;
		border-top: 1px solid #D4D7D8;
		border-left: 1px solid #D4D7D8;

	}

	.alf-ordenado ul li{
		border-left: none !important;
		border-right: 1px solid #D4D7D8;
		border-bottom: 1px solid #D4D7D8;
		height: 55px;
	}
}

@media (max-width: 768px){
	.alf-ordenado li{
		height: 52px;
	}
}

@media (max-width: 553px){
	.mais-vistos-card-content {
		height: 90px;
	}
}

@media (max-width: 450px){
    .categoria-item{
		padding: 15px 7px;
	}
	.categoria-item img{
		width: 35px;
	}
	.categoria-item p{
		font-size: 15px;
	}
	.mais-vistos-card-content{
		height: 100px;
	}
}
@media (max-width: 400px){
	.mais-vistos-card-content{
		height: 120px;
	}
}
@media (max-width: 400px){
	.mais-vistos-card-content{
		height: 180px;
	}
}
@media (max-width: 365px){
	.categoria-item{
    	grid-template-columns: auto;
	}
}